* {
    font-family: "Verdana", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
    color: #fff;
}

body {
    margin: 2rem;
    background-color: #212123;
}

.carrosel {
    -webkit-perspective:  250px;
    -moz-perspective: 250px;
    width: 400px;
    height: 200px;
    position:relative;
    margin: 0 auto;
}

 @-webkit-keyframes efeitoCarrosel {
    from {
        -webkit-transform: rotateY(360deg)
  translateZ(130px) rotateY(-360deg);
        -moz-transform: rotateY(360deg)
  translateZ(130px) rotateY(-360deg);
        z-index:10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -webkit-transgorm: rotateY(0deg)
    translateZ(130px) rotateY(0deg);
        -moz-transform: rotateY(0deg)
    translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
 }

 @-moz-keyframes efeitoCarrosel {
    from { 
        -moz-transform: rotateY(360deg)
  translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -moz-transform: rotateY(0deg)
  translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
 }

 .caixa_card {
    width: 90px;
    height: 100px;
    background-color: #442222;
    position: absolute;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 125px;
    font-size: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
    text-align: center;
    -webkit-animation-name: efeitoCarrosel;
    -moz-animation-name: efeitoCarrosel;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
 }

 .caixa_card:hover {
    border: solid #4466cc 3px;
    box-shadow: 0px 0px 10px #4466cc;
 }


 .caixa_card.cc_1 {
    background: linear-gradient(229deg, #0093E9, #80D0C7);
    -webkit-animation-delay: -7;
    -moz-animation-delay: -7s;
 }

 .caixa_card.cc_2 {
    background: linear-gradient(-229deg, #00dbde, #fc00ff);
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
 }

 .caixa_card.cc_3 {
    background: linear-gradient(-229deg, #50d990, #d4d054);
    -webkit-animation-delay: -5s;
    -moz-animation-delay: -5s;
 }

 .caixa_card.cc_4 {
    background: linear-gradient(-229deg, #cf91ff, #5782f5);
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
 }

 .caixa_card.cc_5 {
    background: linear-gradient(-229deg, #642b73, #c6426e);
    -webkit-animation-delay: -3s;
    -moz-animation-delay: -3s;
 }

 .caixa_card.cc_6 {
    background: linear-gradient(-229deg, #d9afd9, #97d9e1);
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
 }

 .caixa_card.cc_7 {
    background: linear-gradient(-229deg, #fbab7e, #f7ce68);
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
 }
